$red: #FF6060;
$black: #000000;
$white: #ffffff;
$grey: #F6F6F6;
*{
    margin: 0;
    margin-block: 0;
    margin-inline: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: unset;
}

body{
    max-width: 1240px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    ul{
        display: flex;
        justify-content: flex-end;
        li{
            margin-left: 3.5rem;
            a{
                font-weight: 500;
                font-size: 1.5rem;
                color: $red;
            }
        }
    }
    .active{
        text-decoration: underline;
    }
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $black;
    color: $white;
    padding: 2rem 0;
    img{
        width: 120px;
        margin: 2rem 0;
    }
}

.error{
    text-align: center;
    color: $red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60vh;
    .big{
        font-size: 18rem;
        font-weight: 700;
    }
    .medium{
        font-size: 2.25rem;
    }
    a{
        font-size: 1.125rem;
        text-decoration: underline;
    }
}

.banner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 100%;
        height: 220px;
        object-fit: cover;
        border-radius: 25px;
        filter: brightness(0.7);
    }
    p{
        position: absolute;
        color: $white;
        font-size: 3rem;
    }
}

.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
    padding: 50px;
    background-color: $grey;
    border-radius: 25px;
    margin: 40px 0;
    .card{
        position: relative;
        width: 340px;
        aspect-ratio: 1/1;
        border-radius: 10px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .gradient{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
        }
        h3{
            position: absolute;
            color: $white;
            bottom: 0;
            margin: 20px;
        }
    }
}

.dropdown{
    font-size: 1.5rem;
    margin: 2rem 0;
    h3{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $red;
        padding: 0.5rem 1rem;
        font-weight: 500;
        color: $white;
        border-radius: 5px;
        z-index: 2;
        cursor: pointer;
    }
    .chevron{
        width: 1rem;
        transition: all .2s ease-in-out;
        &.up{
            transform: rotate(-90deg);
        }
        &.down{
            transform: rotate(90deg);
        }
    }
    p, ul{
        background-color: $grey;
        color: $red;
        padding: 20px;
        border-radius: 0 0 5px 5px;
        height: 100%;
        overflow: hidden;
        transform: translateY(-3px);
    }
    .closed{
        height: 0%;
        padding: 0;
    }
}

.containerAbout{
    .dropdowns{
        width: 80%;
        margin: 0 auto;
    }
}
.carrousel{
    margin: 20px 0 30px 0;
    display: flex;
    align-items: center;
    position: relative;
    .chevron{
        position: absolute;
        cursor: pointer;
        &.right{
            right: 2%;
        }
        &.left{
            left: 2%;
            transform: rotate(180deg);
        }
        &:active{
            width: 45px;
        }
    }
    .picture {
        width: 100%;
        aspect-ratio: 1240/415;
        object-fit: cover;
        border-radius: 25px;
    }    
} 
.containerLogement{
    .info{
        display: flex;
        justify-content: space-between;
        .left, .right{
            width: max-content;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }
    h1{
        font-size: 2rem;
        color: $red;
        font-weight: 500;
    }
    h2{
        font-size: 1rem;
        color: $red;
        font-weight: 500;
    }
    .tagsList{
        display: flex;
        column-gap: 10px;
        margin-top: 24px;
        li{
            display: flex;
            align-items: center;
            height: 25px;
            padding: 0 20px;
            border-radius: 10px;
            background-color: $red;
            color: $white;
            font-size: .9rem;
        }
    }
    .host{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 10px;
        p{
            width: min-content;
            color: $red;
            font-size: 1.2rem;
            font-weight: 500;
            text-align: right;
        }
        img{
            width: 64px;
            border-radius: 50%;
        }
    }
    .rating{
        display: flex;
        justify-content: flex-end;
    }
    .dropdowns{
        display: flex;
        justify-content: space-between;
        .dropdown{
            width: 47%;
            display: flex;
            flex-direction: column;
            p, ul, h3{
                font-size: 1.1rem;
            }
        }
    }
}