//Desktop
.banner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 100%;
        height: 220px;
        object-fit: cover;
        border-radius: 25px;
        filter: brightness(0.7);
    }
    p{
        position: absolute;
        color: $white;
        font-size: 3rem;
        margin: 0 1rem;
    }
}

//Responsive
@media (max-width:$tablet-max){
    .banner{
        p{
            font-size: 2.5rem;
        }
    }
}
@media (max-width: $mobile){
    .banner{
            justify-content: flex-start;
        img{
            width: 100%;
            height: auto;
            aspect-ratio: 335/111;
            max-height: 130px;
            border-radius: 10px;
        }
        p{
            font-size: 1.5rem;
            margin-right: 4rem;
        }
    }
}