//Desktop
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    transition: all .5s ease-in-out;

    ul{
        display: flex;
        justify-content: flex-end;
        column-gap: 60px;
        li{
            a{
                font-weight: 500;
                font-size: 1.5rem;
                color: $red;
            }
        }
    }
    .active{
        text-decoration: underline;
    }
}

//Responsive
@media (max-width: $mobile){
    header{
        margin: 20px 0;
        .logo {
            width: 50%;
            img{
            max-width: 145px;
            }
        }
        nav{
            width: 48%;
        }
        ul{
            flex-wrap: wrap;
            column-gap: 10px;
            li{
            margin: 0;
            text-align: right;
                a{
                text-transform: uppercase;
                white-space: nowrap;
                font-size: .75rem;
                }
            }
        }
    }
}