//Desktop
.rating{
    display: flex;
    justify-content: flex-end;
}
.stars{
    display: flex;
    justify-content: flex-start;
    span{
        font-size: 2rem;
        color: $dark-grey;
        &.full{
            color: $red;
        }
    }
}

//Responsive
@media (max-width: 470px){
    .stars {
        justify-content: space-between;
        width: 25%;
        span{
        font-size: 1rem;
        }
    }
}